@media (min-width: 500px) {
  .pay-ops {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
  }

  .card-add {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
  }
}

@media (min-width: 600px) {
  .payment-section {
    padding: 55px;
    width: 565px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 780px) {
  body {
    background-image: url(img/back-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 105%;
  }

  .payment-section {
    margin-top: 43px;
    padding: 22px 0px 22px 0px;
    border-radius: 20px;
    background-color: #fff;
  }
}

@media (min-width: 1439px) {
  .pay-s-d-none {
    display: none;
  }
}
