@media (max-width: 500px) {
  .m-logo-2 {
    display: none;
  }
  .Already-o {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }

  .m-logo-2 {
    display: none;
  }

  .Already-o {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  .header {
    padding: 60px 135px 60px 135px;
  }

  .m-logo {
    display: none;
  }

  .section-hero {
    margin: 0;
  }

  .layer-3 {
    height: 788px;
  }

  .title {
    padding-top: 10px;
  }

  .title p {
    letter-spacing: 1px;
  }

  .ac-form {
    gap: 22px;
  }

  .log-in {
    margin-top: 40px;
  }

  .Already p {
    display: none;
  }

  .Already-o {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  .Already-o p {
    font-size: 11px;
    color: #878484;
    letter-spacing: 0.5px;
  }

  .Already-o strong {
    font-size: 11px;
    color: #3fb283;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .back-img {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1250px) {
  .header {
    padding: 0;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-hero {
    margin: 0;
    width: 100%;
  }

  .back-img {
    width: 100%;
  }

  .m-logo {
    display: none;
  }

  .layer-1 {
    display: none;
  }

  .layer-2 {
    display: none;
  }

  .layer-3 {
    border-radius: 0px;
    margin: 0px;
    height: 944px;

    background-image: url(img/leave-img-3.jpg), url(img/leave-img-4.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: 230px 250px, 145px 150px;
    background-position: 0% 0%, 100% 100%;
  }

  .m-logo-2 {
    padding-top: 180px;
  }

  .logo-2 {
    width: 100px;
    height: 100px;
  }

  .title {
    padding-top: 20px;
  }

  .title p {
    letter-spacing: 1px;
  }

  .ac-form {
    margin-top: 22px;
    gap: 22px;
  }

  .log-in {
    margin-top: 40px;
  }

  .Already p {
    display: none;
  }

  .Already-o {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  .Already-o p {
    font-size: 11px;
    color: #878484;
    letter-spacing: 0.5px;
  }

  .Already-o strong {
    font-size: 11px;
    color: #3fb283;
    cursor: pointer;
  }

  .back-img {
    display: flex;
  }

  .back-img img {
    width: 100%;
    height: 944px;
    object-fit: cover;
  }
}

@media (min-width: 1250px) and (max-width: 1950px) {
  .header {
    padding: 100px 140px 100px 140px;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(https://images.wallpaperscraft.com/image/single/leaves_plant_green_118405_1280x720.jpg),
      url(img/leave-img-5.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%, 11% 22%;
    background-position: 0% 0%, 100% 0%;
  }

  .section-hero {
    margin: 0;
    width: 100%;
  }

  .back-img {
    width: 100%;
  }

  .m-logo {
    display: none;
  }

  .layer-1 {
    display: none;
  }

  .layer-2 {
    display: none;
  }

  .layer-3 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
    height: 743px;

    /* background-image: none; */
    background-image: url(img/leave-img-3.jpg), url(img/leave-img-4.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: 230px 250px, 145px 150px;
    background-position: 0% 0%, 100% 100%;
  }

  .m-logo-2 {
    padding-top: 83px;
  }

  .logo-2 {
    width: 100px;
    height: 100px;
  }

  .title {
    padding-top: 20px;
  }

  .title p {
    letter-spacing: 1px;
  }

  .ac-form {
    margin-top: 22px;
    gap: 22px;
  }

  .log-in {
    margin-top: 40px;
  }

  .Already p {
    display: none;
  }

  .Already-o {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  .Already-o p {
    font-size: 11px;
    color: #878484;
    letter-spacing: 0.5px;
  }

  .Already-o strong {
    font-size: 11px;
    color: #3fb283;
    cursor: pointer;
  }

  .back-img {
    display: flex;
  }

  .back-img img {
    width: 100%;
    height: 743px;
    object-fit: cover;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: 1500px) and (max-width: 1950px) {
  .header {
    padding: 100px 230px 100px 230px;
  }
}
